body {
    background-color: beige;
    scroll-behavior: smooth;

}

header {
    background-image: url('img/field.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
}

.title {
    font-size: 3rem;
    
    color: #009300;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.subtitle {
    font-size: 1.8rem;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.textbutton {
    font-size: 1.1rem
}

.btnstyle {
    background-color: #009300
}

.btnstyle:hover {
    background-color: #12aa12;
}

.calendarimage {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 20px;
}

.logoimage {
    width: 300px;
}

.imgcover {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text_title {
    font-size: 2.5rem;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text_body {
    font-size: 1.18rem;
    color: #bb9667;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.text_subtitle {
    font-size: 2rem;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.checkimage {
    width: 60px;
    margin-left: 30px;
}

.hamburger-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1050;
    background-color: transparent;
    border: none;
}

.hamburger-icon svg {
    width: 32px;
    height: 32px;
    fill: #000;
}

.hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: #ffc107;
    margin: 5px 0;
    transition: 0.4s;
}

.hamburger-btn.open .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-btn.open .line2 {
    opacity: 0;
}

.hamburger-btn.open .line3 {
    transform: rotate(-45deg) translate(6px, -6px);
}



.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}


.outfit- {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.offcanvas-start {
    width: 350px !important;
    background-color: #033919;
    color: white;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease-in-out;

}

.offcanvas-header .btn-close {
    filter: invert(1);

}

.offcanvas-title {
    color: white;
}

.offcanvas-body .nav-link {
    color: white;
    transition: background-color 0.3s, padding-left 0.3s;
    border-radius: 5px;
    padding: 8px 12px;
}

.offcanvas-body .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 20px;
    color: #ffffff;
}





@media (max-width: 768px) {
    header {
        height: 60vh;
    }

    .title {
        font-size: 2.25rem;
    }

    .subtitle {
        font-size: 1.25rem
    }

    .textbutton {
        font-size: 1rem
    }

    .calendarimage {
        margin-left: 7px;
        margin-bottom: 2.5px;
        width: 15px;
    }

    .text_title {
        font-size: 1.75rem;
    }

    .text_body {
        font-size: 1rem;

    }

    .text_subtitle {
        font-size: 1.5rem;
    }

    .checkimage {
        width: 40px;
        margin-left: 30px;
    }


    .offcanvas-start {
        width: 250px !important;
    }
}

@media (max-width: 576px) {
    header {
        height: 40vh;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1rem
    }

    .textbutton {
        font-size: 0.7rem
    }

    .calendarimage {
        margin-left: 6px;
        margin-bottom: 1px;
        width: 15px;
    }

    .text_title {
        font-size: 1.25rem;
    }

    .text_body {
        font-size: 0.75rem;

    }

    .text_subtitle {
        font-size: 1rem;
    }

    .checkimage {
        width: 40px;
        margin-left: 30px;
    }
}